*{
    font-family: 'Nova Square', sans-serif;
}

.logoNav{
    height: 80px;
}

.bg-lightgrey{
    background-color: rgb(236, 236, 236);
}

.bg-img{
    margin-top: 120px;
    width: 100%;
    height: 100vh;
    background:linear-gradient(180deg,rgb(236, 236, 236),rgba(198, 127, 127, 0.1)),
    url(./media/switzerland-862870_1920.jpg);
    background-size: cover;
    background-position: center;
}

.bg-img-footer{
    width: 100%;
    height: 650px;
    background: url(./media/other.png);
    background-size: cover;
    background-position: center;
}


h1{
    color: darkred;
    background: none;
    letter-spacing: 20px;
}

#montagne{
    width: 100% !important;
    justify-self: flex-start !important;
    align-self: flex-end;
    position: absolute;
    background-color: transparent;
}

.quote{
    font-weight: 600;
    color: rgb(104, 102, 102);
    font-style: italic;
    position: relative;
    text-align: center;
}

.quote::before{
    position: absolute;
    content: open-quote;
    color: darkred;
    font-size: 50px;
    left: -15px;
    top: -25px;
}

.quote::after{
    position: absolute;
    content: close-quote;
    color: darkred;
    font-size: 50px;
    right: 40px;
}

.icons{
    height: 100px;
}

.firstIcons{
    font-weight: bold;
    font-size: 60px;
    color: darkred;
}

.descriptionLine{
    width: 220px;
    border-bottom: 3px solid darkred;
    position: relative;
}

.descriptionLine::before{
    content: '';
    width: 18px;
    height: 18px;
    background-color: white;
    position: absolute;
    left: 105px;
    bottom: -10px;
    border-radius: 50%;
    border: 2px solid darkred;
}

.articolo{
    margin-top: 130px;
}

.titoloArticolo{
    color: darkred;
}

.bottoneArticolo{
    background-color: darkred;
    border: 1px solid white;
    border-radius: 3px;
}

h2{
    color: darkred;
}

h3{
    color: darkred;
}

.timeline{
    border-left: 2px solid darkred;
    padding-left: 20px;
    position: relative;
}

.circleTimeline::before{
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: -8px;
    border: 2px solid darkred;
    background-color: white;
}

.h2Team{
    margin-top: 130px;
    letter-spacing: 3px;
}

.team{
    height: 150px;
    width: 150px;
    border: 2px solid darkred;
    border-radius: 50%;
    padding: 7px;
}

h4{
    color: darkred;
}

.socialIcons{
    color: darkred;
}

.benefit{
    margin-top: 170px;
}

.imgBenefit{
    height: 180px;
    width: 180px;
    border: 2px solid darkred;
    border-radius: 50%;
    padding: 7px;
}